
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  class="scrollpage" onclick = $("#menu-close").click(); >QuickTrip Menu</a>
            </li>
            <li>
                <a href="#top"  class="scrollpage" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#search"  class="scrollpage" onclick = $("#menu-close").click(); >Busca de Hotéis</a>
            </li>
            <li>
                <a href="#portfolio"  class="scrollpage" onclick = $("#menu-close").click(); >Eventos</a>
            </li>
            <li>
                <a href="#contact"  class="scrollpage" onclick = $("#menu-close").click(); >Contato</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1><img src="/images/quicktrip_logo_site.png"></h1>
            <h3 style="color: #928239">Procurando hotéis?<BR>Então você está no local certo!</h3>
            <br>
            <a href="#search" class="btn btn-dark btn-lg scrollpage">Buscar Já!</a>
            <br><br>
            <a href="#portfolio" class="btn btn-dark btn-lg scrollpage">Veja os Eventos de nossos parceiros!</a>
        </div>
    </header>

    <!-- Search -->
    <section id="search" class="search" style="background-color: #f6f6f6; text-align: left; padding: 30px 5px;">
        <div class="container">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#menu1">Hotel</a></li>
              <li><a data-toggle="tab" href="#menu2">Hotel por hora</a></li>
            </ul>
            <div class="tab-content">
              <div id="menu1" class="tab-pane fade in active">
                <ins class="bookingaff" data-aid="956720" data-target_aid="956646" data-prod="nsb" data-width="360" data-height="380">
                  <!-- Anything inside will go away once widget is loaded. -->
                  <a href="//www.booking.com?aid=956646">Booking.com</a>
                </ins>
                <script type="text/javascript">
                    (function(d, sc, u) {
                      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
                      s.type = 'text/javascript';
                      s.async = true;
                      s.src = u + '?v=' + (+new Date());
                      p.parentNode.insertBefore(s,p);
                      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
                </script>
              </div>
              <div id="menu2" class="tab-pane fade">
                <IFRAME src="<%= "#{ENV['SEARCH_URL']}#{ENV['AFFILIATE_TOKEN']}"%>" style='width: 100%;min-height: 600px;margin: auto;text-align: center;border: 1px solid #444;margin-top: 5px;border-radius: 15px;padding:10px;'>
                </IFRAME>
              </div>

            <!--
                <ins class="bookingaff" data-aid="956654" data-target_aid="956646" data-prod="sbp" data-width="900" data-height="300" data-lang="xb" data-currency="BRL" data-cc1="br">
                    <!-- Anything inside will go away once widget is loaded. --
                    <a href="//www.booking.com?aid=956646">Booking.com</a>
                </ins>
                <script type="text/javascript">
                    (function(d, sc, u) {
                      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
                      s.type = 'text/javascript';
                      s.async = true;
                      s.src = u + '?v=' + (+new Date());
                      p.parentNode.insertBefore(s,p);
                      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
                </script> 
            -->
            </div>
        </div>
    </section>

    <!-- About -->
<!--
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<!--
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) --
                </div>
                <!-- /.col-lg-10 --
            </div>
            <!-- /.row --
        </div>
        <!-- /.container --
    </section>
-->

    <!-- Callout -->
<!--
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside>
-->
    <!-- Events -->
    <section id="portfolio" class="bg-primary" style="backgroung-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h1 style="text-s">Eventos</h1>
                    <hr class="medium">
                    <div class="row">
                    <% if @packages.empty? %> 
                      <h3>Não há Pacote para eventos registrado no momento!</h3>
                    <% else %>
                      <% @packages.each do |package| %>
                        <div class="col-md-6">
                          <div class="portfolio-item">
                            <%= link_to(image_tag(package.image, class: "img-portfolio img-responsive", title: package.description ), package_path(package))%>
                              <!--
                              <a href="/show?utf8=✓&city_name=Rio+de+Janeiro&state_name=BR&by_latitude=-22.9068467&by_longitude=-43.1728965&by_pack_length=12&room_category=1&by_address=Rio+de+Janeiro%2C+Rio+de+Janeiro+-+RJ%2C+Brasil&by_number_of_people=1&by_checkin_date=06%2F04%2F2016&by_checkin_hour=18&by_checkin_date=06%2F04%2F2016&by_checkin_hour=18&by_checkin_date=06%2F04%2F2016&by_checkin_hour=18">
                                  <img class="img-portfolio img-responsive" src="" title="18º Seminário de Mecanização - Grupo IDEA">
                              </a>
                            -->
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                    </div>
                    <!-- /.row (nested) -->
                    <!--<a href="#" class="btn btn-dark">View More Items</a> -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
<!-- 
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                </div>
            </div>
        </div>
    </aside>
-->

<!--
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section>
-->

    <!-- Contact -->
    <section id="contact" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h1>Contato</h1>
                    <hr class="medium" style="background-color: #555;height: 1px;">
                </div>
            </div>
        </div>
    </section>
