
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >QuickTrip Menu</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#search" onclick = $("#menu-close").click(); >Busca de Hotéis</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); >Calendário de Eventos</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contato</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>QuickTrip</h1>
            <h3>Procurando hotéis para algumas horas?<BR>Então você está no local certo!</h3>
            <br>
            <a href="#search" class="btn btn-dark btn-lg">Buscar Já!</a>
            <br><br>
            <a href="#portfolio" class="btn btn-dark btn-lg">Veja os Eventos de nossos parceiros!</a>
        </div>
    </header>

    <!-- Search -->
    <section id="search" class="search" style="background-color: #f6f6f6; text-align: center;">
        <IFRAME src="<%= ENV['SEARCH_URL'] %>" style='max-width: 1000px;width: 1000px;min-height: 600px;margin: auto;text-align: center;border: 1px solid #444;margin-top: 5px;border-radius: 15px;'></IFRAME>
    </section>

    <!-- About -->
<!--
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<!--
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) --
                </div>
                <!-- /.col-lg-10 --
            </div>
            <!-- /.row --
        </div>
        <!-- /.container --
    </section>
-->

    <!-- Callout -->
<!--
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside>
-->
    <!-- Events -->
    <section id="portfolio" class="bg-primary" style="backgroung-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h1 style="text-s">Eventos</h1>
                    <hr class="medium">
                    <div class="row">
                      <% @packages.each do |package| %>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                              <% if package.id == 1 %>
                                <%= link_to(image_tag("/images/seminario_mecanizacao_Fotor.jpg", class: "img-portfolio img-responsive", title: package.description ), package_path(package))%>
                              <% elsif package.id == 2 %>
                                <%= link_to(image_tag("/images/agrishow_Fotor.jpg", class: "img-portfolio img-responsive", title: package.description ), package_path(package))%>
                              <% else %>
                                <h3>Não há Pacote para eventos registrado no momento!</h3>
                              <% end %>
                                <!--
                                <a href="/show?utf8=✓&city_name=Rio+de+Janeiro&state_name=BR&by_latitude=-22.9068467&by_longitude=-43.1728965&by_pack_length=12&room_category=1&by_address=Rio+de+Janeiro%2C+Rio+de+Janeiro+-+RJ%2C+Brasil&by_number_of_people=1&by_checkin_date=06%2F04%2F2016&by_checkin_hour=18&by_checkin_date=06%2F04%2F2016&by_checkin_hour=18&by_checkin_date=06%2F04%2F2016&by_checkin_hour=18">
                                    <img class="img-portfolio img-responsive" src="" title="18º Seminário de Mecanização - Grupo IDEA">
                                </a>
                              -->
                            </div>
                        </div>
                      <% end %>
                    </div>
                    <!-- /.row (nested) -->
                    <!--<a href="#" class="btn btn-dark">View More Items</a> -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
<!-- 
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                </div>
            </div>
        </div>
    </aside>
-->
    <!-- Contact -->
    <section id="contact" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h1>Contato</h1>
                    <hr class="medium" style="background-color: #555;height: 1px;">
                    <h4><strong>Endereço</strong>
                    </h4>
                    <p>Rua José Rosário, 1010<br>Ribeirão Preto, SP, 14096-200</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> +55 16 99287-9696</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:contato@quicktrip.com.br">contato@quicktrip.com.br</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Quicktrip 2016</p>
                </div>
            </div>
        </div>
    </section>
<!--
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section>
-->
